* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
  scroll-padding-top: 70px;
}

body {
  padding-top: 4.875rem;
  background-color: black;
}

.FAQ {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  z-index: 999;
  font-size: 1.25rem;
  padding: 0.625rem;
  border: none;
  background-color: #1cadb0;
  height: 3.5vw;
  width: 3.5vw;
  border-radius: 100%;
  min-width: 40px;
  min-height: 40px;
  background-image: url("../assets/chatbot.png");
  background-size: 80% 80%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* review the @font-face getting the fonts */
@font-face {
  font-family: "GlancyrNeue-Medium";
  src: url("../fonts/GlancyrNeue-Medium.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GlancyrNeue-Bold";
  src: url("../fonts/GlancyrNeue-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GlancyrNeue-Regular";
  src: url("../fonts/GlancyrNeue-Regular.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

/* review the getting of the background-grid as well as the @keyframes */
.background-grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 90vh;
  z-index: 0;
  pointer-events: none;
  background-image: linear-gradient(
      rgba(63, 206, 206, 0.12) 1px,
      transparent 2px
    ),
    linear-gradient(90deg, rgba(63, 206, 206, 0.12) 1px, transparent 1px);
  background-size: 3vw 3vw;
  animation: gridMove 10s linear infinite;
}

@keyframes gridMove {
  0% {
    background-position: 0 0, 0 0;
  }
  100% {
    background-position: 3vw 3vw, 3vw 3vw;
  }
}

#home {
  position: relative;
  overflow: hidden;
}

h1 {
  color: #3fcece;
  font-family: "GlancyrNeue-Bold", "Glancyr", sans-serif;
  font-size: clamp(1.5rem, 2vw, 3rem);
}

li {
  list-style-type: none;
  display: inline-block;
}

a {
  color: rgb(174, 174, 174);
  font-family: "GlancyrNeue-Regular", "Glancyr", sans-serif;
}

a:link {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #3fcece;
}

a:active {
  color: aqua;
}

.item {
  font-size: calc(10vw / 10);
}

.appbar {
  position: fixed;
  background-color: #111;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 5rem;
  border-bottom: thin solid #f1fcfb5f;
}

.navbar ul {
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.navbar-toggle {
  background-color: transparent;
  display: none;
  border: none;
  font-size: 1.5rem;
  color: #3fcece;
  cursor: pointer;
  z-index: 1100;
}

.home-section {
  background-color: black;
  display: flex;
  height: 90vh;
  flex: 1 1 auto;
  padding: calc(10vw / 2) calc(10vw / 2);
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home1 {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  max-width: 51.5%;
  height: fit-content;
}

.btn-row {
  padding: 20px 0;
  display: flex;
  flex: 1 1 auto;
  gap: 1.5rem;
}

.home2 {
  max-width: 48.5%;
  display: flex;
  flex: 1 1 auto;
  margin: 6.25rem 0 6.25rem 2.5rem;
  justify-self: flex-end;
}

.name1 {
  font-family: Inter;
  font-size: calc(12vw / 2.3);
  text-transform: uppercase;
  color: #f1fcfb;
  letter-spacing: 4px;
}

.name2 {
  font-family: Inter;
  font-size: calc(20vw / 2.78);
  text-transform: uppercase;
  font-weight: 900;
  color: #3fcece;
}

.name1,
.name2 {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.desc1 {
  margin-top: 10px;
  font-family: Inter;
  font-size: calc(10vw / 4.959);
  font-weight: 300;
  color: rgb(174, 174, 174);
  letter-spacing: 3px;
  overflow-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.btn1 {
  width: calc(50vw / 4);
  height: calc(40vw / 10);
  border-radius: calc(40vw / 10);
  background-color: #3fcece;
  border: none;
  font-family: Inter;
  font-size: calc(10vw / 8);
  font-weight: bold;
  cursor: pointer;
}

.btn2 {
  width: calc(50vw / 4);
  height: calc(40vw / 10);
  border-radius: calc(40vw / 10);
  background-color: white;
  border: none;
  font-family: Inter;
  font-size: calc(10vw / 8);
  font-weight: bold;
  cursor: pointer;
}

.code-block {
  background-color: #10151a;
  border: 1px solid #263238;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 32px 8 rgba(63, 206, 206, 0.15);
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  z-index: 2;
}

.code-header {
  background: #18222b;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.code-dots {
  display: flex;
  gap: 0.5rem;
}

.code-dots span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.code-dots span:nth-child(1) {
  background: #ff5f57;
}

.code-dots span:nth-child(2) {
  background: #ffbd2e;
}

.code-dots span:nth-child(3) {
  background: #28ca42;
}

.code-title {
  font-family: "Jetbrains Mono", monospace;
  font-size: 0.95rem;
  color: #b0bec5;
}

.code-content {
  padding: 1.5rem;
  font-family: "Jetbrains Mono", monospace;
  font-size: 1rem;
  color: #e3f2fd;
  background: #10151a;
  line-height: 3;
}

.keywod {
  color: #3fcece;
  font-weight: bold;
}

.variable {
  color: #ffd54f;
}

.function {
  color: #80cbc4;
}

.property {
  color: #b39ddb;
}

.about-section {
  background-color: black;
  height: 90vh;
  width: 100%;
  padding: 20px 20px;
}

.column1 {
  width: 100%;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label2 {
  font-family: Inter, monospace;
  display: inline-block;
  background-color: #06292d;
  color: #3fcece;
  height: 100%;
  width: 100px;
  border: none;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.column2 {
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.section-headers {
  color: #3fcece;
  font-family: Inter, monospace;
  display: inline-block;
  height: 100%;
  width: auto;
  border: none;
  border-radius: 20px;
  display: flex;
  font-size: 70px;
  font-weight: 900;
  align-items: center;
  justify-content: center;
}

.column3 {
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.section-desc {
  font-family: Inter, monospace;
  display: inline-block;
  height: 100%;
  width: 800px;
  border: none;
  color: rgb(174, 174, 174);
  display: flex;
  font-size: 30px;
  font-weight: 200;
  align-items: center;
  justify-content: center;
}

.column4 {
  width: 100%;
  height: 320px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.placecontainer {
  height: 320px;
  width: 100%;
  margin: 100px;
  display: flex;
  justify-content: space-between;
}

.box1 {
  height: 320px;
  width: 400px;
  background-color: #111111;
  border: thin solid #16484b;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: stretch;
}

.box1-spacer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  width: auto;
  margin: 20px;
}

.circleavatar {
  width: 100px;
  height: 100px;
  background-color: #3fcece;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.box1 .material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 900, "GRAD" 0, "opsz" 24;
  font-size: 45px !important;
  display: inline-block;
}
.box2 .material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 45px !important;
  display: inline-block;
}

.box3 .material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 45px !important;
  display: inline-block;
}

.header-box-title {
  font-size: 30px;
  font-family: "Inter", monospace;
  font-weight: bold;
  color: white;
  margin: 10px;
}

.header-box-desc {
  color: rgb(174, 174, 174);
  font-family: "Inter", monospace;
  font-size: 15px;
  font-weight: 500;
  margin: 10px;
}

.box2 {
  height: 320px;
  width: 400px;
  background-color: #111111;
  border: thin solid #16484b;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: stretch;
}

.box3 {
  height: 320px;
  width: 400px;
  background-color: #111111;
  border: thin solid #16484b;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: stretch;
}

.services-section {
  height: 130vh;
  width: 100%;
  background-color: #111111;
  padding: 20px 20px;
}

.column-services {
  height: 700px;
  width: auto;
  margin: 40px 100px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list1 {
  background-color: #06292d;
  border: thin solid #16484b;
  width: auto;
  height: 200px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}

.list-row1 {
  width: 150px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  color: #3fcece;
  font-size: 80px;
  font-family: "GlancyrNeue-Regular", "Glancyr", sans-serif;
}

.list-row2 {
  display: flex;
  flex: 0 1 100%;
}

.list-column {
  display: flex;
  flex: 0 1 100%;
  margin: 40px 20px;
  flex-direction: column;
  justify-content: space-evenly;
}

.service-title {
  font-size: 30px;
  font-family: Inter;
  font-weight: 600;
  color: white;
}

.service-desc {
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  color: white;
  margin: 15px 0;
}

.service-spacer {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.techs {
  font-family: Inter, monospace;
  display: inline-block;
  padding: 5px 15px;
  font-size: 16px;
  background-color: #111;
  color: #3fcece;
  border-radius: 20px;
  border: thin solid #3fcece;
}

.techstack-section {
  background-color: #111111;
  height: 60vh;
  width: 100%;
  padding: 20px 20px;
}

.marquee-container {
  height: 200px;
  width: 100%;
  overflow: hidden;
  background: #10151a;
  border-radius: 20px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  position: relative;
}

.marquee {
  display: flex;
  width: max-content;
  animation: marquee-scroll 80s linear infinite;
}

.marquee-content {
  display: flex;
  gap: 4rem;
  min-width: 100%;
}

.tech-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  min-width: 120px;
  opacity: 0.8;
  transition: opacity 0.3s, transform 0.3s;
}

.tech-item:hover {
  opacity: 1;
  transform: scale(1.08);
}

.tech-logo {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  background: white;
  padding: 10px;
  border: 1px solid #3fcece;
  transition: box-shadow 0.3s;
}

.tech-item:hover .tech-logo {
  box-shadow: 0 4px 24px 0 #3fcece44;
}

.tech-label {
  color: #3fcece;
  font-family: Inter, monospace;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.project-section {
  background-color: black;
  height: 160vh;
  width: 100%;
  padding: 20px 20px;
}

.project-spacer {
  margin: 40px 100px;
  width: auto;
  height: 930px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-container {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 0 0 auto;
}

.container {
  width: calc(100% / 2.3);
  height: 280px;
  border-radius: 10px;
  display: flex;
}

.container1 {
  background-image: url("../assets/pbma.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container1 a {
  display: block;
  width: 100%;
  height: 100%;
}

.container2 {
  background-image: url("../assets/attendance.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container2 a {
  display: block;
  width: 100%;
  height: 100%;
}

.container3 {
  background-image: url("../assets/sport1.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container3 a {
  display: block;
  width: 100%;
  height: 100%;
}

.container4 {
  background-image: url("../assets/sport2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container4 a {
  display: block;
  width: 100%;
  height: 100%;
}

.container5 {
  background-image: url("../assets/sport3.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container5 a {
  display: block;
  width: 100%;
  height: 100%;
}

.container6 {
  background-image: url("../assets/balungao.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container6 a {
  display: block;
  width: 100%;
  height: 100%;
}

.certificate-section {
  background-color: #111111;
  height: 90vh;
  width: 100%;
  padding: 20px 20px;
}

.certificate-spacer {
  width: auto;
  height: 430px;
  margin: 20px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.certificate-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 50%;
}

.cert-con {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.con1 {
  background-image: url("../assets/cert1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.con1 a {
  width: 100%;
  height: 100%;
  display: block;
}

.con2 {
  background-image: url("../assets/cert2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.con2 a {
  width: 100%;
  height: 100%;
  display: block;
}

.con3 {
  background-image: url("../assets/cert3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.con3 a {
  width: 100%;
  height: 100%;
  display: block;
}

.con4 {
  background-image: url("../assets/cert4.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.con4 a {
  width: 100%;
  height: 100%;
  display: block;
}

.certificate-container:nth-child(2) {
  justify-content: space-between;
  width: auto;
  margin: 0 155px;
}

.con5 {
  background-image: url("../assets/cert5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.con5 a {
  width: 100%;
  height: 100%;
  display: block;
}

.con6 {
  background-image: url("../assets/cert6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.con6 a {
  width: 100%;
  height: 100%;
  display: block;
}

.con7 {
  background-image: url("../assets/cert7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.con7 a {
  width: 100%;
  height: 100%;
  display: block;
}

.contact-section {
  background-color: black;
  height: 110vh;
  width: 100%;
  padding: 20px 20px;
}

.contact-spacer {
  height: 535px;
  width: auto;
  margin: 40px 100px;
  display: flex;
  flex-direction: row;
}

.contact-row:nth-child(1) {
  height: 100%;
  width: 55%;
}

.crow1 {
  height: 120px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
}

.crow-content1 {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 0, "GRAD" 0, "opsz" 24;
  font-size: 40px !important;
}

.crow-content2 {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 0 0 70%;
  margin: 20px 15px;
}

.crow-title {
  display: inline-block;
  font-family: "Inter", monospace;
  font-size: 28px;
  font-weight: 600;
  color: rgb(148, 148, 148);
}

.minimum {
  display: inline-block;
  width: fit-content;
}

.location {
  color: white;
}

.contact-row:nth-child(2) {
  background-color: #10151a;
  height: 100%;
  width: 45%;
  border-radius: 20px;
  border: thin solid #16484b;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px 40px;
}

input:focus {
  border: thin solid #3fcece;
  outline: none;
}

textarea:focus {
  border: thin solid #3fcece;
  outline: none;
}

.yourname {
  color: #1cadb0;
  border: thin solid #16484b;
  background-color: #111111;
  font-size: 18px;
  padding: 15px 30px;
  display: inline-block;
  height: 60px;
  border-radius: 10px;
  font-family: Inter;
}

.textarea {
  color: #1cadb0;
  border: thin solid #16484b;
  background-color: #111111;
  font-size: 18px;
  padding: 15px 30px;
  display: inline-block;
  height: 200px;
  border-radius: 10px;
  font-family: Inter;
  resize: none;
}

.btn-send {
  width: 180px;
  height: 50px;
  border-radius: 150px;
  background-color: #3fcece;
  border: none;
  font-family: "GlancyrNeue-Regular", "Glancyr", sans-serif;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.footer-section {
  background-color: #111;
  display: flex;
  height: 40vh;
  width: 100%;
  padding: 20px;
}

.parent {
  background-color: #111111;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 50px;
  gap: 15px;
}
.div1 {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
}

.foot-title {
  color: #3fcece;
  font-family: "GlancyrNeue-Bold", "Glancyr", sans-serif;
  font-size: 30px;
}

.foot-desc {
  color: gray;
  font-family: Inter, sans-serif;
  font-size: 15px;
}

.div2 {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
}

.ftitle {
  color: white;
  font-family: "GlancyrNeue-Bold", "Glancyr", sans-serif;
  font-size: 20px;
}

.fdesc {
  margin: 5px;
}

.div3 {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
}

.div4 {
  grid-column: span 3 / span 3;
  grid-row-start: 2;
  height: 50px;
  width: 100%;
  align-content: center;
  justify-content: center;
  border-top: thin solid #1cadb0;
  display: flex;
}

.div4 p {
  padding: 10px 0 0 0;
  font-size: 15px;
  font-family: Inter;
  color: #1cadb0;
}

.ftitle-spacer {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.github {
  cursor: pointer;
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-image: url("../assets/github.png");
  background-size: cover;
  background-position: center;
  border: none;
  background-repeat: no-repeat;
}

.github a {
  display: block;
  width: 100%;
  height: 100%;
}

.linkedin {
  cursor: pointer;
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-image: url("../assets/linkedin.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.linkedin a {
  display: block;
  width: 100%;
  height: 100%;
}

.facebook {
  cursor: pointer;
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-image: url("../assets/facebook.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.facebook a {
  display: block;
  width: 100%;
  height: 100%;
}

.instagram {
  cursor: pointer;
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-image: url("../assets/instagram.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.instagram a {
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  .item {
    font-size: calc(10vw / 3);
  }

  .home-section {
    height: auto;
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .navbar {
    display: flex;
    flex: 0 0 600px;
    align-items: center;
    justify-content: space-between;
  }

  .navbar ul {
    display: flex;
    flex: 0 0 600px;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-toggle {
    background-color: transparent;
    display: none;
    border: none;
    font-size: 1.5rem;
    color: #3fcece;
    cursor: pointer;
    z-index: 1100;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .item {
    font-size: calc(10vw / 4.5);
  }
  .home-section {
    height: auto;
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .navbar {
    display: flex;
    flex: 0 0 600px;
    align-items: center;
    justify-content: space-between;
  }

  .navbar ul {
    display: flex;
    flex: 0 0 600px;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-toggle {
    background-color: transparent;
    display: none;
    border: none;
    font-size: 1.5rem;
    color: #3fcece;
    cursor: pointer;
    z-index: 1100;
  }
  .home-section {
    height: auto;
    flex-direction: column;
    padding: 2rem 1rem;
  }
}

@media (max-width: 1024px) {
  .appbar {
    padding: 1rem;
  }

  .navbar {
    display: none;
  }
  .navbar-toggle {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 90px; /* adjust based on your header height */
    right: 0;
    background: #111;
    flex-direction: column;
    width: 200px;
    border-radius: 20px;
    box-shadow: 0 8px 32px 8px rgba(63, 206, 206, 0.15);
    z-index: 1100;
    padding: 1rem 0;
  }
  .navbar ul {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 0 1rem;
  }
  .navbar li {
    width: 100%;
    align-self: center;
  }
}

.photo-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.photo-modal.active {
  display: flex;
}

.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(6px);
  z-index: 1;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: #3fcece;
  font-size: 2rem;
  cursor: pointer;
  z-index: 3;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  overflow-y: auto;
  max-height: 70vh;
  margin-top: 2.5rem;
  padding: 40px;
}

.photo-grid img {
  width: 100%;
  aspect-ratio: 9/16;
  z-index: 100;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 8px #0005;
  background: #222;
}

@media (min-width: 1024px) {
  .navbar {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: space-between;
  }

  .navbar ul {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-toggle {
    background-color: transparent;
    display: none;
    border: none;
    font-size: 1.5rem;
    color: #3fcece;
    cursor: pointer;
    z-index: 1100;
  }
}
